@use './abstracts/variables';

.tittle-clr{
    color: variables.$clr-orange;
}

.inf{
    position: relative;
    top: 19%;
    left: 3%;
}

.inf-left {
    top: 1%;
    left: 8%;
    position: relative;
    text-decoration: none;
}

.card-text:last-child {
    margin-bottom: 0;
}


.margin-tp {
    margin-top: 5rem;
}

.margin-tp-title {
    margin-top: 13rem;
}
.img-iconss{
    width: 7%;
    display: inline-block;
}

.m-left{
    margin-left:-20rem !important;
}

.text-none{
    text-decoration: auto!important;
}


.m-r-img{
    margin: -19rem;
}

.center-icns{
    margin: -1rem;
    margin-top: 1rem;
    justify-content: center;
}
