@use "./abstracts/variables";
@use "../vendor/media-queries";
@use "./base/typography";

.img-p {
  width: 65%;
  height: 78%;
  margin-left: 4rem;

  @include media-queries.respond-to(media-queries.$phone) {
    width: 215%;
    height: 112%;
    margin-left: 8rem;
    margin-top: 2rem;
  }

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    width: 100%;
    height: 70%;
    margin-left: 1rem;
    margin-top: 2rem;
  }
}

.mt-btn {
  margin-top: 0rem;
  
  @include media-queries.respond-to(media-queries.$phone) {
    margin-top: 2rem;
    align-items: center;
  }

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    margin-top: 1rem;
  }
}
.img-college {
  width: 5%;
  height: 50%;
  @include media-queries.respond-to(media-queries.$phone) {
    width: 13%;
    height: 50%;
  }

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    width: 8%;
    height: 50%;
  }
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
  margin-left: 3rem;

  @include media-queries.respond-to(media-queries.$phone) {
    margin-left: 6rem;
    width: 392%;
    height: 70%;
  }

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    width: 170%;
    height: 70%;
    margin-left:-3rem;;
    margin-top: 0rem;
  }
}

.form__field {
  font-family: inherit;
  width: 140%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: variables.$clr-dark;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

///btn
.custom-btn {
  width: 223px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: variables.$fp;
  font-size: variables.$f-form-tt;
  font-weight: variables.$fw-bold-italic;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 2rem;
  margin-left: 2rem;

  @include media-queries.respond-to(media-queries.$phone) {
    display: block;
    margin-left: 6.5rem;
    width: 52%;
  }

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    margin-left:2rem;
  }
}

.btn-1 {
  background: variables.$clr-orange;
  background: linear-gradient(
    0deg,
    variables.$clr-orange 0%,
    variables.$clr-orange 100%
  );
  border: none;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

.btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

///
