@use "../vendor/media-queries";

.container {
  display: grid;

  @include media-queries.respond-to(media-queries.$phone) {
    display: block;
  }

  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    display: block;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include media-queries.respond-to(media-queries.$phone) {
    display: block;
    justify-content: center;
    margin: 0rem;
  }
}
.col-3 {
  @include media-queries.respond-to(media-queries.$tablet-landscape) {
    width: 57%;
    flex: 1 0 0%;
  }

  @include media-queries.respond-to(media-queries.$phone) {
    width: 100%;
    display: flex;
  }
}

.ml-d{
 
  @include media-queries.respond-to(media-queries.$tablet-landscape){
    margin-left: 3rem;
  }
}