@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/typography';

@use './components/components';
@use '../layout/layout';
@use '../vendor/media-queries';


h1{
    @include typography.set-font(variables.$ft, variables.$fw-bold, variables.$f-t,variables.$clr-white);
    text-align: center;

       @include media-queries.respond-to(media-queries.$phone){
     
      margin-top: 2rem;
      align-items: center;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
       
        margin-top: 4rem;
        align-items: center;
      }
  
}

h2{
    @include typography.set-font(variables.$fp, variables.$fw-bold, variables.$f-subtible,variables.$clr-dark);
    text-align: center;

    @include media-queries.respond-to(media-queries.$phone){
     
        font-size: 1.8rem;
        margin-left: -6rem;
      }
  
      @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-right: 6rem;
      }
}

h3{
    @include typography.set-font(variables.$fp, variables.$fw-bold, variables.$f-top,variables.$clr-dark);
    @include media-queries.respond-to(media-queries.$phone){
     
        font-size: 2.4rem;
        margin-left: 0rem;
    }
  
}

.btn-like{
    
  
        @include components.btn-like(variables.$clr-dark);
        list-style-type: none;
      
}

.name-card{
    @include typography.set-font(variables.$fp, variables.$fw-bold-italic, variables.$f-card-title,variables.$clr-dark);
    text-align: center;
    
    
}

.card-inf{
    @include typography.set-font(variables.$ff, variables.$fw-regular, variables.$f-card-time,variables.$clr-dark);
    
}
.text-cinft{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$f-inf,variables.$clr-dark);

}
.btn-list{
    @include components.btn(variables.$clr-btn);

    
    @include media-queries.respond-to(media-queries.$phone){
     
        margin: 0.5rem !important;
        margin-top: 0;
        display: flex !important;
        font-size: 1rem;
        padding: 3px 5px;
      }
 
}

.text-footer{
    @include typography.set-font(variables.$ff, variables.$fw-semibold, variables.$f-card-like,variables.$clr-white);
}

.imgs{
    @include mixins.imgg(70%);

    @include media-queries.respond-to(media-queries.$phone){
     
        width: 60%;
        left: 18%;
        height: 254px;

      }

}


//detalle
.text-detalils{
    @include typography.set-font(variables.$fp, variables.$fw-bold, variables.$f-subtible,variables.$clr-btn);
    margin-top: 5rem;
}

.text-id{
    @include typography.set-font(variables.$fp, variables.$fw-regular,variables.$f-d,variables.$clr-btn);
}

.text-t-d{
    @include typography.set-font(variables.$fp, variables.$fw-bold, variables.$f-name-details,variables.$clr-btn);
}

.text-img{
    @include mixins.text-img(variables.$fp, variables.$fw-bold, variables.$f-name-details,variables.$clr-btn);
}

.tittle-clr{
    color: variables.$clr-orange;
}
.mrr{
    @include mixins.mr-all(5rem);
    @include media-queries.respond-to(media-queries.$phone){
     
        margin-right: 0;

      }

}
.inf{
    position: relative;
    top: 19%;
    left: 3%;
}

.inf-left {
    top: 1%;
    left: 8%;
    position: relative;
    text-decoration: none;
}

.card-text:last-child {
    margin-bottom: 0;
}


.margin-tp {
    margin-top: 5rem;
}

.margin-tp-title {
    margin-top: 13rem;
}
.img-iconss{
    width: 7%;
    display: inline-block;

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin: -3rem;
      }
}

.m-left{
    margin-left:-20rem !important;
}

.text-none{
    text-decoration: auto!important;
}


.m-r-img{
    margin: -19rem;
    @include media-queries.respond-to(media-queries.$phone){
     
       margin: 0rem;
      }
}

.me-d{
   width: 70%;
}

.center-icns{
    margin: -1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    justify-content: center;

    @include media-queries.respond-to(media-queries.$phone){
     
      margin-left: 0;

      }
}
//detalle


//forms
.text-fr-f{
    @include typography.set-font(variables.$fp, variables.$fw-bold-italic, variables.$f-d,variables.$clr-white);

    

}
//forms

//formsPerfil
.text-f-pp{
    @include typography.set-font(variables.$fp, variables.$fw-bold-italic, variables.$f-form-t,variables.$clr-dark);
    margin-right: 76rem;

       @include media-queries.respond-to(media-queries.$phone){
     
      margin-right: 0rem;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
       
        margin-right:-2rem;
      }
}

.text-f-name{
    @include typography.set-font(variables.$fp, variables.$fw-bold-italic, variables.$f-form-n,variables.$clr-dark);
    margin-left: -6rem;

       @include media-queries.respond-to(media-queries.$phone){
     
      margin-top: 2rem;
      align-items: center;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
       
        margin-top: 4rem;
        align-items: center;
      }
}

.text-frm{
    @include typography.set-font(variables.$fp, variables.$fw-regular, variables.$f-form-tt,variables.$clr-dark);

       @include media-queries.respond-to(media-queries.$phone){
     
      margin-top: 2rem;
      align-items: center;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
       
        margin-top: 4rem;
        align-items: center;
      }
}

.text-form{
    @include typography.set-font(variables.$fp, variables.$fw-bold-italic, variables.$f-form-btn,variables.$clr-dark);
    text-align: center;
  
    @include media-queries.respond-to(media-queries.$phone){
     
        font-size: 1.3rem;
        
      }
  
      @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 1.5rem;
        
      }
  }
//formsPerfil




